* {
  margin: 0;
  padding: 0;
  outline: 0;
}

nav {
  position: relative;

  margin: 0 auto;
  background: #226a80;
  z-index: 1;
  text-align: right;
  padding-right: 2%;
}
.logo {
  width: 25%;
  float: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  text-align: left;
  padding: 15px 25px;
}
.menu-area li {
  display: inline-block;
  list-style-type: none;
}
.menu-area a {
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}
.menu-area a:hover {
  background: #7b68ee;
  color: #fff;
}
nav:before {
  position: absolute;
  top: 100%;
  left: 0;
}
nav:after {
  position: absolute;
  top: 100%;
  right: 0;
}
